# Set the default java toolchain
build --java_runtime_version=remotejdk_11
build --tool_java_language_version=11

build --javacopt="--release 11"

build --experimental_google_legacy_api # Needed to use ProguardSpecProvider
