# The following flags are only necessary for local docker sandboxing
# with the rbe-ubuntu16-04 container. Use of these flags is still experimental.
build:docker-sandbox --host_javabase=@bazel_toolchains//configs/ubuntu16_04_clang/1.2:jdk8
build:docker-sandbox --javabase=@bazel_toolchains//configs/ubuntu16_04_clang/1.2:jdk8
build:docker-sandbox --crosstool_top=@bazel_toolchains//configs/ubuntu16_04_clang/1.2/bazel_0.23.0/default:toolchain
build:docker-sandbox --host_java_toolchain=@bazel_tools//tools/jdk:toolchain_hostjdk8
build:docker-sandbox --java_toolchain=@bazel_tools//tools/jdk:toolchain_hostjdk8
build:docker-sandbox --spawn_strategy=docker
build:docker-sandbox --strategy=Javac=docker
build:docker-sandbox --strategy=Closure=docker
build:docker-sandbox --strategy=Genrule=docker
build:docker-sandbox --strategy=DexBuilder=docker
build:docker-sandbox --define=EXECUTOR=remote
build:docker-sandbox --experimental_docker_verbose
build:docker-sandbox --experimental_enable_docker_sandbox
build:docker-sandbox --noexperimental_check_desugar_deps   # Workaround for singlejar incompatibility with RBE

# The following flags enable the remote cache so action results can be shared
# across machines, developers, and workspaces.
build:remote-cache --remote_cache=remotebuildexecution.googleapis.com
build:remote-cache --tls_enabled=true
build:remote-cache --remote_timeout=3600
build:remote-cache --auth_enabled=true
build:remote-cache --spawn_strategy=standalone
build:remote-cache --strategy=Javac=standalone
build:remote-cache --strategy=Closure=standalone
build:remote-cache --strategy=Genrule=standalone

# ------------------------
# Custom RBE configuration
# ------------------------

build:remote_android --action_env=BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1
build:remote_android --spawn_strategy=remote
build:remote_android --strategy=Javac=remote
build:remote_android --strategy=Closure=remote
build:remote_android --strategy=Genrule=remote
build:remote_android --define=EXECUTOR=remote

build:remote_android --extra_execution_platforms=:android_platform
build:remote_android --host_platform=:android_platform
build:remote_android --platforms=:android_platform

build:remote_android --strategy=DexBuilder=remote             #     RBE C++ toolchain is built for RBE container
build:remote_android --noexperimental_check_desugar_deps   # Workaround for singlejar incompatibility with RBE
build:remote_android --incompatible_strict_action_env

build:docker-sandbox --experimental_docker_image=gcr.io/di-cloud-exp/rbe-ubuntu16-04-android:latest
build:docker-sandbox --experimental_docker_privileged

# The unified launcher runs in Python 2 host configuration
# https://github.com/bazelbuild/bazel/issues/7899
build --host_force_python=PY2 

build:rbe_demo --config=remote_android
build:rbe_demo --experimental_remote_download_outputs=toplevel
build:rbe_demo --experimental_inmemory_dotd_files
build:rbe_demo --experimental_inmemory_jdeps_files
build:rbe_demo --jobs=300
